*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: relative;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
   
    overflow: hidden;
}

header .icons{
    padding-top: 5px;
    padding-left: 30px;
    position: relative;
    top: 0;
    left: 0;
    height: 70px;
    width: 30%;
  float: left;
}

header .icons img{
    width: 15%;
    height: auto;
}
header .icons .brand{
    position: absolute;
    top: 30%;
    left: 25%;
    font-size: 30px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

header .links{
    position: relative;
    top: 0;
    float: right;
    left: 0;
    height: 70px;
    text-align: center;
    width: 60%;
    
}

header .links li{
    list-style: none;
 
    font-size: 26px;
    line-height: 70px;
   padding-left: 30px;
    display: inline-block;
}



header .links li a{
    margin-top: 30px;
    text-decoration: none;
 
    color: rgb(29, 29, 29);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


header .links li .active {
    color: red ;
}

header .links li a:hover{
    color: red ;
}

/* main body */

.main{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 510px;
    background-color: rgb(233, 233, 233);
}

.main .div1{
    position: relative;
    top: 0;
    left: 0;
    width: 60%;
    float: left;
    height: 510px;
 
}

.main .div1 .heading{
  position: absolute;
  top: 18%;
  left: 4%;
  font-weight: 700;
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(47, 177, 68);
}
.main .div1 .heading .ss{
    color: rgb(29, 46, 92);
}

.main  #username{
    font-size: 30px;
    position: absolute;
  top: 5%;
  left: 40%;
  color: rgb(73, 110, 17);
  font-family: monospace;
}
.main  #username .user{
    color: rgb(248, 153, 11);
}
.main .div1 button{
    position: absolute;
  top: 80%;
  left:10%;
  width: 230px;
  height: 40px;
  cursor: pointer;
    outline: none;
    background: none;
    border: 1px solid red;
}

.main .div2{
    position: relative;
    top: 0;
    left: 0;
    width: 40%;
    float: right;
    height: 510px;
 
}
.main .div2 img{

}
/* footer styljng */

footer{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
 

}

footer .copy{
    line-height: 45px;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 20px;
}

footer .person{
    line-height: 45px;
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-right: 60px;
float: right;
}